development:
  adapter: mysql2
  encoding: utf8
  database: k4z
  pool: 5
  username: root
  password: password
  socket: /tmp/mysql.sock

test:
  adapter: mysql2
  encoding: utf8
  database: php_bb_empty
  pool: 5
  username: root
  password: password
  socket: /tmp/mysql.sock